<configuration>

    <appender name="LOGSTASH" class="net.logstash.logback.appender.LogstashSocketAppender">
        <destination>${LOGSTASH_HOST}:${LOGSTASH_PORT}</destination>
        <encoder>
            <pattern>
                {
                "timestamp": "%date{ISO8601}",
                "level": "%level",
                "logger": "%logger",
                "message": "%message",
                "thread": "%thread",
                "context": "%mdc"
                }
            </pattern>
        </encoder>
    </appender>

    <root level="info">
        <appender-ref ref="LOGSTASH"/>
    </root>

</configuration>
